html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: #f9f9f9;
  transition: background-color 0.3s ease;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.89);
  background-color: #ffffff; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  color: rgba(1, 1, 1, 0.87);
}

:root[data-theme="dark"] html,
:root[data-theme="dark"] body {
  background: #ffffff;
}

/* D3.js chart styles */
.bar:hover {
  opacity: 0.8;
}
.label {
  font-size: 12px;
  fill: #666;
}

:root[data-theme="dark"] .label {
  fill: #ccc;
}

.MuiCard-root {
  background-color: #000000;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

:root[data-theme="dark"] .MuiCard-root {
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.MuiContainer-root {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* mui theme overrides for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #1a1b1e;
  }
  body {
    background: #1a1b1e;
  }
  .label {
    fill: #ccc;
  }
} 